<h2>Users</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Country</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr user-row ng-repeat="user in getUsersPage()" user="user" ng-class="user.selected ? 'selected' : ''"></tr>
  </tbody>
</table>

<nav aria-label="Page navigation users">
  <ul class="pagination justify-content-center">
    <li class="page-item" ng-class="currentPage === 0 ? 'disabled' : ''">
      <button class="page-link" ng-click="previousPage()">Previous</button>
    </li>
    <li class="page-item disabled">
      <span class="page-link">{{ currentPage + 1 }}</span>
    </li>
    <li class="page-item" ng-class="currentPage === lastPageNumber - 1 ? 'disabled' : ''">
      <button class="page-link" ng-click="nextPage()">Next</button>
    </li>
  </ul>
</nav>

<user-show></user-show>